<!--  наследуемся от шаблона default.html, который мы создавали для flatpages -->
{% extends 'flatpages/default.html' %}

<!-- Загружаем свои фильтры -->
{% load custom_filters %}

<!-- Название у нас будет posts -->
{% block title %}
Posts
{% endblock title %}


<!-- В контенте на странице мы выводим все статьи -->
{% block content %}
<h1>Все новости</h1>
<h3>{{ posts |length }}</h3>
   <hr>
<!-- Выводим статьи, только если они есть с помощью тега if -->
   {% if posts %}
       <table>
           <tr>
               <td>Заголовок</td>
               <td>Дата публикации</td>
               <td>Превью</td>
           </tr>
           <!-- Для каждой новости будете генерироваться новая строчка,

           т.е. новый HTML код, который указан в теле цикла.
           При этом сам цикл работает точно так же, как и в Python.
           post — переменная цикла, т.е. наша новость, полученная из списка -->
           {% for post in posts %}
           <tr>
               <!-- Не забываем, что переменные в шаблоне ничем не отличаются

                от переменных в Python. Здесь также можно получать доступ к
                полям объекта модели.  -->
               <td>{{ post.head|censor}}</td>
               <td>{{ post.time_in|date:'d M Y' }}</td>
               <td>{{ post.text|censor}}</td>
           </tr>
           {% endfor %}

       </table>
   {% else %}
       <h2>Новостей нет!</h2>

   {% endif %}
{% endblock content %}










